@{
    ViewBag.Title = "Home Page";
}

<h1>ASP.NET MVC 5 App (.NET 4.x)</h1>

<ul>
    <li>
        <a href="/api/values">/api/values</a>
    </li>
    <li>
        <a href="/api/states">/api/states</a>
    </li>
</ul>

